<div class="header">
    <div class="header-title">{{ title() }}</div>
    
    <button class="secondary-button">
        <div class="secondary-button-content">
          <div class="secondary-button-icon"></div>
          <div class="secondary-button-text">Export</div>
        </div>
      </button>

    <button class="primary-button">
      <div class="primary-button-content">
        <div class="primary-button-icon"></div>
        <div class="primary-button-text">Manual Order</div>
      </div>
    </button>
    
  
  </div>