<form #signUpForm="ngForm" (ngSubmit)="signUpUser(signUpForm, email.value, password.value)">
  <!-- Privacy policy illustration -->
  <div class="privacy-illustration">
    <img [src]="metaImages" alt="Privacy Policy" />
  </div>

  <!-- Sign Up Card -->
  <div class="sign-up-card">
    <div class="sign-up-card-content">
      <div class="sign-up-card-inner-content">
        <div class="sign-up-label">Sign up</div>
        <div class="login-subtitle">
          Please sign up to start exploring the platform
        </div>
        <div class="sign-up-card-form-content">
          <div class="input-field">
            <div class="label">
              <span>Email</span>
            </div>
            <input type="email" placeholder="Email" id="email" name="email" #email required ngModel>
          </div>
          <div class="input-field">
            <div class="label">
              <span>Password</span>
            </div>
            <input type="password" placeholder="Password" id="password" name="password" #password required ngModel>
            <span class="hide-icon"><img src="assets/Icons/Hide.svg" /></span>
          </div>

          <div class="input-field">
            <div class="label">
              <span>Confirm Password</span>
            </div>

            <input type="password" placeholder="Confirm Password" name="confirmPassword"
              [(ngModel)]="confirmPasswordValue" required>
            <span class="hide-icon"><img src="assets/Icons/Hide.svg" /></span>
            <span class="hide-icon"><img src="assets/Icons/Hide.svg" /></span>
            <!-- <div *ngIf="!passwordsMatch && confirmPassword.value" class="error-message">
              <alert>password do not match</alert>
            </div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="checkbox-container">
      <input type="checkbox" id="privacyPolicy" [(ngModel)]="isPolicyAccepted" class="checkbox-input"
        name="privacyPolicy">
      <label for="privacyPolicy" class="checkbox-custom"></label>
      <label for="privacyPolicy" class="checkbox-label">
        <p>I agree to the <a href="#">Privacy Policy</a></p>
      </label>
    </div>

    <button class="signup-button" [disabled]="!signUpForm.valid || !isPolicyAccepted || !passwordsMatch"
      [ngClass]="{'active': isPolicyAccepted && signUpForm.valid && passwordsMatch}">
      Sign Up
    </button>

    <div class="signin-link">
      Already a member? <a routerLink="/sign-in">Sign in</a>
    </div>
  </div>
</form>